<div class="container my-5">
    <div class="row mb-4">
        <div class="col-12">
            <a href="/"><button type="button" class="btn btn-dark">Regresar a Tienda</button></a>
        </div>
    </div>
    <div class="justify-content-between align-items-start">
        <div>
            <div class="row">
                <div class="col-12 text-light text-center mb-4">
                    <h1 class="display-4">{{product.titulo}}</h1>
                </div>
            </div>
            <div>
                <div class="col-md-12 text-center p-5">
                    <img src="{{product.imagen}}" class="img-fluid rounded shadow-sm"
                     >
                </div>
                <div class="col-md-12 row text-center card-body">
                    <div class="card shadow-lg rounded-lg">
                        <div class="card-header text-white">
                            <h5 class="card-title">Detalles del Producto</h5>
                        </div>
                        <div class="card-body p-5">
                            <p class="card-text">{{product.description}}</p>
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-1"><strong>Precio:</strong> <span
                                            class="text-danger">${{product.precio}}</span></p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-1"><strong>Stock:</strong> <span class="text-success"
                                            id="stockLimit">{{product.stock}}
                                            disponibles</span></p>
                                </div>
                            </div>
                            <p class="mb-0"><strong>Categoría:</strong> <span
                                    class="badge bg-secondary">{{product.categoria}}</span></p>
                            <div class="mt-3">
                                <div class="input-group mb-3">
                                    <button class="btn btn-dark" type="button" id="button-addon1"
                                        onclick="decrementQuantity()">-</button>
                                    <input type="number" class="form-control text-center" min="1"
                                        max="{{product.stock}}" placeholder="Cantidad" aria-label="Cantidad"
                                        aria-describedby="button-addon1" value="1" id="quantityInput">
                                    <button class="btn btn-dark" type="button" id="button-addon2"
                                        onclick="incrementQuantity()">+</button>
                                </div>
                                <button class="btn btn-dark"
                                    onclick="addToCart('{{product._id}}')">agregar al Carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/cart.js"></script>
<script>
    let stockLimit = parseInt(document.getElementById('stockLimit').textContent);

    function decrementQuantity() {
        let quantityInput = document.getElementById('quantityInput');
        let quantity = parseInt(quantityInput.value);
        if (quantity > 1) {
            quantityInput.value = quantity - 1;
        }
    }

    function incrementQuantity() {
        let quantityInput = document.getElementById('quantityInput');
        let quantity = parseInt(quantityInput.value);
        if (quantity < stockLimit) {
            quantityInput.value = quantity + 1;
        }
    }

    function addToCart(productId) {
        let quantity = parseInt(document.getElementById('quantityInput').value);
        if (quantity > stockLimit) {
            quantity = stockLimit;
            alert('existencias en stock insuficientes. Se ajustado a la cantidad máxima disponible.');
        }
        agregarProducto(productId, quantity);
    }
</script>
